<div class="container">
  <form id="user-signUp-form" action="{{submitTarget}}" method="{{method}}" _method="{{method}}">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="FirstName">FirstName</label>
      <input name="firstname" type="text" class="form-control" id="FirstName" 
        placeholder="Enter FirstName" required>
    </div>

    <div class="form-group">
      <label for="lastName">LastName</label>
      <input name="lastname" type="text" class="form-control" id="lastName" 
        placeholder="Enter lastName" required>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
        required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
    var form = document.getElementById("user-signUp-form");
 form.addEventListener("submit", event => {

    event.preventDefault();


     const submitUrl = form.action;

      const submitMethod = form.method;

    const formData = new FormData(form);
      var userDetails = {};
      for (const fields of formData.entries()) {
        const [key, value] = fields;
        userDetails[key] = value;
      }
console.log(submitMethod);
console.log(submitUrl);
console.log(userDetails);
    fetch(submitUrl, {
        method: submitMethod.toUpperCase(),
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(userDetails)
      })
        .then(response => {
          console.log(response.status);
          if (response.status === 200) {
            return response.json()
          }
          else {
            throw (new error(response.status))
          }
        })
        .then(data => {
          alert(data.message);
          //window.location.href = "/teacher-students/" + teacherID
        })
        .catch(error => {
          if (error.meaasage == "400")
            alert("please check the form details..")
          else if (error.message == "500")
            alert("please try after some time!!")
          else
            alert(error.meaasage)
        });

  })




</script>